* {
    font-family: 'EB Garamond', serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 180px 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    height: 100vh;
    width: 100vw;
    margin: 0;
}


.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 1);
    background-color: #111;
    position: relative;
}

.sidebar:before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    content: "";
    opacity: 0.5;
    background-image: url("images/sidebar-background.jpg");
    background-position: center;
}

.sidebar-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.menu, .home, .messages, .history, .tasks, .files, .settings, .support {
    display: flex;
    padding-left: 18px;
    color: white;
    text-shadow: 2px 1px black;
}

.home-icon {
    width: 2.2rem;
}

.menu {
    font-size: 3.2rem;
    margin: 0;
    justify-self: flex-start;
}

.menu:hover{
    text-decoration: underline;
}

p {
    margin: 0;
}

.menu > img {
    width: 2.1rem;
}

.home, .messages, .history, .tasks, .files, .settings, .support {
    font-size: 2.5rem;
}


.sidebar-content > div > img {
    width: 2.1rem;
}

.sidebar-content > div:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1);
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 150px 500px 1fr 80px 72px 300px;
    grid-template-rows: 1fr 1.1fr;
    grid-row-gap: 5px;
    grid-template-areas: 
    "searchicon search . bellicon smallmarie marietexttop"
    "biggermarie marietextbottom . buttons buttons buttons";
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    box-shadow: 0px 13px 10px -15px #111; 
    position: relative;
}

.searchicon {
    grid-area: searchicon;
    width: 64px;
    height: 45px;
    margin-left: 83px;
    padding-top: 10px;
}

#searchbar {
    grid-area: search;
    height: 43px;
    border-radius: 9px;
    font-size: 35px;
    box-shadow: 0px 14px 10px -15px #111; 
    margin-top: 10px;
}

.bellicon {
    grid-area: bellicon;
    width: 64px;
    height: 45px;
    padding-top: 10px;
    padding-left: 15px;
    
}

.bellicon:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.marietexttop {
    grid-area: marietexttop;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 23px;
    margin: 0;
}

.marietextbottom {
    grid-area: marietextbottom;
    font-size: 1.9rem;
    font-weight: bold;
    padding-top: 27px;
    margin: 0;
}

.marietextbottom:hover {
    text-decoration: underline;
}

.smallmarie {
    grid-area: smallmarie;
    height: 70px;
    width: 72px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}

.biggermarie {
    grid-area: biggermarie;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 50px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}

.biggermarie:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.buttons {
    grid-area: buttons;
    padding-top: 25px;
}

button {
    font-size: 2.2rem;
    height: 55px;
    width: 125px;
    border-radius: 26px 26px 26px 26px;
    box-shadow: 0px 13px 10px -15px #111; 
    margin-right: 9px;
    background-color: #930C0C;
    color: white;
}

button:hover {
    background-color: black;
    cursor: pointer;
}

.main-panel {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 320px;
    grid-template-rows: 0.1fr 1fr 70px 1fr;
    grid-column-gap: 30px;
    grid-template-areas: 
    "projects-headline . announcements-headline"
    "notes-section notes-section announcements-section"
    "notes-section notes-section trending-headline"
    "notes-section notes-section trending-section";
    background-color: rgb(216, 216, 216);   
    padding-right: 30px;
    padding-bottom: 30px;
}


.projects-headline{
    grid-area: projects-headline;
    margin-left: 50px;
    font-size: 1.6rem;
    
}

.announcements-headline {
    grid-area: announcements-headline;
    font-size: 1.6rem;
    
}

.projects-headline > h2, .announcements-headline >h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.notes-section {
    grid-area: notes-section;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows:  1fr 1fr 1fr;
    margin-left: 50px;
    grid-gap: 23px;
}

div[class="note"] {
    border-left: 10px solid #930C0C;
    border-radius: 6px 15px 15px 6px;
    -webkit-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    padding: 10px;
    background-color: white;
}

div[class="note"]:hover {
    transform: scale(1.01);
}


div[class="note"] >  {
    padding: 5px;
}

div[class="note"] > h3, p {
    margin: 0;
}

div[class="note"] > h3 {
    font-size: 2rem;
}

div[class="note"] > p {
    font-size: 1.3rem;
}

.announcements-section {
    grid-area: announcements-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    background-color: white;
}

.announcements-section > div{
    width: clamp(200px, 30%, 250px);
    text-align: start;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.announcements-section > div:last-of-type {
    border: 0;
}

h4 {
    margin: 0;
    font-size: 1.4rem;
}

.announcements-section > div > p {
    font-size: 1.3rem;
    margin: 0;
}

.trending-headline {
    grid-area: trending-headline;
    font-size: 2.6rem;
    margin: 0;
    margin-top: 13px;
}

.trending-section {
    grid-area: trending-section;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
    grid-template-areas: 
    "charlespic charles"
    "mariepic marie-a"
    "subysspic subyss"
    "louispic louis";
    border: 1px solid black;
    border-radius: 20px;
    -webkit-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    padding: 10px;
    background-color: white;
}

.trending-section > img {
    height: 58px;
    width: 58px;
    border-radius: 50px;
    margin-left: 40px;
}

.trending-section > img:hover {
    cursor: pointer;
}

.trending-section > div > p {
    margin: 0;
}

.trending-section > div > p:first-child {
    margin-top: 15px;
    font-size: 1.3rem;
}

.trending-section > div > p:first-child:hover {
    cursor: pointer;
    text-decoration: underline;
}

.trending-section > div > p {
    font-size: 1.1rem;
}

.charlespic {
    grid-area: charlespic;
    margin-top: 6px;
}

.mariepic{ 
    grid-area: mariepic;
}

.subysspic{ 
    grid-area: subysspic;
}

.louispic{
    grid-area: louispic;
} 

.charles {
    grid-area: charles;
}

.marie-a {
    grid-area: marie-a;
}

.subyss {
    grid-area: subyss;
}
.louis {
    grid-area: louis;
}