body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    height: 100vh;
    width: 100vw;
    margin: 0;
}


.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-image: url("images/sidebar-background.jpg");
    background-position: center;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 1);
}

.menu, .home, .messages, .history, .tasks, .files, .settings, .support {
    display: flex;
    padding-left: 18px;
    color: white;
    text-shadow: 1px 1px black;
}

.home-icon {
    width: 40px;
}

.menu {
    font-size: 3rem;
    margin: 0;
}

.home, .messages, .history, .tasks, .files, .settings, .support {
    font-size: 1.9rem;
}

.header {
    height: 160px;
    grid-area: header;
    display: grid;
    grid-template-columns: 150px 500px 1fr 80px 72px 300px;
    grid-template-rows: 1fr 1.1fr;
    grid-row-gap: 5px;
    grid-template-areas: 
    "searchicon search . bellicon smallmarie marietexttop"
    "biggermarie marietextbottom . buttons buttons buttons";
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 13px 10px -15px #111; 
}

.searchicon {
    grid-area: searchicon;
    width: 80px;
    height: 45px;
    margin-left: 76px;
    padding-top: 10px;
}

#searchbar {
    grid-area: search;
    height: 43px;
    border-radius: 9px;
    font-size: 35px;
    box-shadow: 0px 14px 10px -15px #111; 
    margin-top: 10px;
}

.bellicon {
    grid-area: bellicon;
    width: 80px;
    height: 45px;
    padding-top: 10px;
}

.marietexttop {
    grid-area: marietexttop;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 25px;
    margin: 0;
}

.marietextbottom {
    grid-area: marietextbottom;
    font-size: 1.7rem;
    font-weight: bold;
    padding-top: 35px;
    margin: 0;
}

.smallmarie {
    grid-area: smallmarie;
    height: 70px;
    width: 72px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}

.biggermarie {
    grid-area: biggermarie;
    height: 94px;
    width: 95px;
    border-radius: 50%;
    margin-left: 40px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}

.buttons {
    grid-area: buttons;
    padding-top: 25px;
    
}

button {
    font-size: 1.5rem;
    height: 55px;
    width: 125px;
    border-radius: 26px 26px 26px 26px;
    box-shadow: 0px 13px 10px -15px #111; 
    margin-right: 9px;
}

.main-panel {
    grid-area: main;
    display: grid;
    grid-template-columns: 280px 1fr 400px;
    grid-template-rows: 90px 0.8fr 60px 1fr;
    grid-template-areas: 
    "projects-headline . announcements-headline"
    "notes-section notes-section announcements-section"
    "notes-section notes-section trending-headline"
    "notes-section notes-section trending-section";
}

.projects-headline{
    grid-area: projects-headline;
    margin-left: 50px;
    font-size: 1.6rem;
}

.announcements-headline {
    grid-area: announcements-headline;
    font-size: 1.6rem;
}

.notes-section {
    grid-area: notes-section;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
}

div[class="note"] {
    height: clamp(200px, 30%, 190px);
    width: clamp(500px, 45%, 520px);
    border-left: 10px solid #930C0C;
    border-radius: 6px 20px 20px 6px;
    -webkit-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
}

.announcements-section {
    grid-area: announcements-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: clamp(270px, 30%, 400px);
    width: clamp(300px, 45%, 520px);
    border: 1px solid black;
    border-radius: 20px;
    -webkit-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
}

.announcements-section > div{
    width: clamp(200px, 30%, 250px);
    text-align: start;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.announcements-section > div:last-of-type {
    border: 0;
}

h4 {
    margin: 0;
    font-size: 1.4rem;
}

.announcements-section > div > p {
    font-size: 1.2rem;
    margin: 0;
}

.trending-headline {
    grid-area: trending-headline;
    font-size: 2.6rem;
    margin: 0;
    margin-top: 10px;
}

.trending-section {
    grid-area: trending-section;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "charlespic charles"
    "mariepic marie-a"
    "subysspic subyss"
    "louispic louis";
    height: clamp(318px, 30%, 400px);
    width: clamp(300px, 45%, 520px);
    border: 1px solid black;
    border-radius: 20px;
    -webkit-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 8px 27px -14px rgba(0, 0, 0, 1);
}

.trending-section > img {
    height: 68px;
    width: 68px;
    border-radius: 50px;
    margin-left: 40px;

}

.trending-section > div > p {
    margin: 0;
    margin-right: 20px;
}

.trending-section > div > p:first-child {
    margin-top: 20px;
}

.charlespic {
    grid-area: charlespic;
    margin-top: 6px;
}

.mariepic{ 
    grid-area: mariepic;
}

.subysspic{ 
    grid-area: subysspic;
}

.louispic{
    grid-area: louispic;
} 

.charles {
    grid-area: charles;
}

.marie-a {
    grid-area: marie-a;
}

.subyss {
    grid-area: subyss;
}
.louis {
    grid-area: louis;
}