body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    height: 100vh;
    width: 100vw;
    margin: 0;
}


.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-image: url("images/sidebar-background.jpg");
    background-position: center;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 1);
}

.menu, .home, .messages, .history, .tasks, .files, .settings, .support {
    display: flex;
    padding-left: 18px;
    color: white;
    text-shadow: 1px 1px black;
}

.home-icon {
    width: 40px;
}

.menu {
    font-size: 3rem;
    margin: 0;
}

.home, .messages, .history, .tasks, .files, .settings, .support {
    font-size: 1.9rem;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 150px 500px 1fr 80px 72px 300px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "searchicon search . bellicon smallmarie marietexttop"
    "biggermarie marietextbottom . buttons buttons buttons";
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 13px 10px -15px #111; 
}

.searchicon {
    grid-area: searchicon;
    width: 80px;
    height: 45px;
    margin-left: 76px;
    padding-top: 10px;
}

#searchbar {
    grid-area: search;
    height: 50px;
    border-radius: 9px;
    font-size: 40px;
    box-shadow: 0px 14px 10px -15px #111; 
    margin-top: 10px;
}

.bellicon {
    grid-area: bellicon;
    width: 80px;
    height: 45px;
    padding-top: 10px;
}

.marietexttop {
    grid-area: marietexttop;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 16px;
}

.marietextbottom {
    grid-area: marietextbottom;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 40px;
}

.smallmarie {
    grid-area: smallmarie;
    height: 70px;
    width: 72px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}

.biggermarie {
    grid-area: biggermarie;
    height: 100px;
    width: 95px;
    border-radius: 50%;
    margin-left: 40px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}

.buttons {
    grid-area: buttons;
    padding-top: 25px;
    
}

button {
    font-size: 1.5rem;
    height: 55px;
    width: 125px;
    border-radius: 26px 26px 26px 26px;
    box-shadow: 0px 13px 10px -15px #111; 
    margin-right: 9px;
}

.main-panel {
    grid-area: main;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas: 
    ""
    ""
    "";
}

